<h1>Reset password</h1>

<%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert errors">
        The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :email, @user.email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Update password" %>
<% end %>
