<%= render_navbar {} %>
<div class="login">
  <h2>Set new password password</h2>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> occured:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <a href="#" class="close">x</a>
    </div>
  <% end %>
      
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>

    <%= hidden_field_tag :email, @user.email %>

    <div class="input-field">
      <%= f.password_field :password, placeholder: 'Enter a new password' %>
    </div>
    
    <div class="input-field">
      <%= f.password_field :password_confirmation, placeholder: 'Confirm your passwword' %>    
    </div>

    <br style="clear: both;" />
    <div class="submit">
      <%= submit_tag "Set new password" %>
      <a href="/">or go back to your blog.</a>
    </div>
  <% end %>
  
</div>


