<%= simple_form_for([:admin, @author]) do |f| %>
  <div class="new-author">

    <h2>New Author</h2>

    <div class="input-field">
      <%= f.text_field :name, placeholder: "Name *" %>
    </div>
    <div class="input-field">
      <%= f.text_area :description, placeholder: "Description *", rows: 1 %>
    </div>
    <div class="input-field">
      <%= f.text_field :email, placeholder: "E-Mail *" %>
    </div>
    <div class="input-field">
      <%= f.text_field :gplus_profile, placeholder: "Website" %>
    </div>

    <%= render_navbar do %>
      <%= f.submit "Save Author", class: "btn btn-save-publish highlight" %>
      <%= link_to 'Cancel', admin_authors_path, class: 'btn btn-cancel' %>
    <% end %>  

  </div>
<% end %>
