<%= form_for([:admin, @author]) do |f| %>
  <div class="new-author">

    <h2><%= t('activerecord.models.lines/author', count: 1) %></h2>

    <div class="input-field required">
      <%= f.text_field :name, placeholder: true %>
    </div>
    <div class="input-field required">
      <%= f.text_area :description, placeholder: true, rows: 1 %>
    </div>
    <div class="input-field required">
      <%= f.text_field :email, placeholder: true %>
    </div>
    <div class="input-field">
      <%= f.text_field :gplus_profile, placeholder: true %>
    </div>

    <%= render_navbar do %>
      <%= f.submit t('lines.buttons.save_author').html_safe, class: "btn btn-save-publish highlight" %>
      <%= link_to t('lines.buttons.cancel').html_safe, admin_authors_path, class: 'btn btn-cancel' %>
    <% end %>  

  </div>
<% end %>
