<%= render_navbar do %>
  <%= link_to t('lines.buttons.new_author').html_safe, new_admin_author_path, class: "btn btn-new-author highlight" %>
  <%= link_to 'Dashboard', lines.admin_root_path, class: "btn btn-view-blog" %>
<% end %>

<% if defined?(@author) && @author.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

  <ul>
  <% @author.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <a href="#" class="close">x</a>
</div>
<% end %>

<h2><%= t('lines.buttons.all_authors').html_safe %></h2>
<div class="authors-list">
  <% @authors.each do |author| %>
    <div class="author">
      <div class="name">
        <%= link_to author.name, admin_author_path(author) %>
      </div>
      <div class="email">
        <%= link_to author.email, edit_admin_author_path(author) %>
      </div>
      <div class="actions">
        <div class="left">
          <%= link_to t('lines.buttons.edit').html_safe, edit_admin_author_path(author), class: "btn-edit" %>
        </div>
        <div class="right">
          <%= link_to "", {controller: :authors, action: 'destroy', id: author.id}, data: { confirm: t('lines.confirm').html_safe }, class: "btn-delete icon-delete", method: :delete %>
        </div>
      </div>
    </div>
  <% end %>
</div>