<%= simple_form_for([:admin, @article], id: 'article_form') do |f| %>
  <div class="new-article">
    <div class="hero-upload">
      <%= f.file_field :hero_image %>
      <div class="btn-change-hero">Change</div>
      <% if @article.short_hero_image.present? %>
        <img src="<%= @article.short_hero_image %>" alt="" />
      <% elsif @article.hero_image? %>
        <img src="<%= @article.hero_image %>" alt="" />
      <% end %>
      <%= f.hidden_field :hero_image_file %>
      <div class="upload-overlay">
        <div class="upload-overlay-inner">
          <h2>Select Hero Image</h2>
          <div class="btn-remove-hero<%= " show" if @article.hero_image? || @article.short_hero_image %>">Remove hero image</div>
          <%= f.label :hero_image, "Upload an image" %>
          <div class="hero-images">
            <% Lines::Article::HERO_IMAGES.each_with_index do |h, i| %>
              <img src="<%= "/heroes/#{h}" %>" alt="" class="<%= 'selected-hero-image' if ('/heroes/' + h) == @article.short_hero_image %>" />
            <% end %>
            <%= f.hidden_field :short_hero_image, class: "short-hero-image-cache" %>
          </div>
        </div>
        <div class="hero-background-overlay"></div>
      </div>
    </div>

    <div class="input-field required">
      <%= f.text_field :title, placeholder: "Title", class: 'title' %>
    </div>

    <div class="input-field">
      <%= f.text_field :sub_title, placeholder: "Subtitle" %>
    </div>

    <div class="input-field">
      <%= f.text_area :teaser, placeholder: "Teaser", rows: 1 %>
    </div>

    <div class="input-field editor required">
      <%= f.text_area :content, placeholder: "Body copy", rows: 1, data: {editor: "codemirror"} %>
    </div>

    <div class="input-field">
      <div class="documents">
        <%= f.label :document, "#{@article.document? ? @article.document.file.filename : 'Choose File' }", class: "choose-files" -%>
        <%= f.file_field :document, class: "article-document-value" %>
        <div class="hidden">
          <%= f.hidden_field :document_cache %>
          <%= (@article.hero_image.filename) if @article.document? %>
        </div>
      </div>

      <% if @article.document? %>
      <div class="checkbox">
        <%= f.check_box :remove_document %>
        <label for="article_remove_document" class="checkbox"><span></span>Delete document</label>
      </div>
      <% end %>
    </div>

    <h2>Authors <span style="color: #c10020;">*</span></h2>

    <div class="input-field">
      <% Lines::Author.all.each do |author| %>
        <%= check_box_tag "article[author_ids][]", author.id, @article.author_ids.include?(author.id), id: dom_id(author) %>
        <label for="<%= dom_id(author) %>"><%= author.name %></label>
      <% end %>
    </div>

    <h2>Additional Info</h2>

    <div class="input-field">
      <%= f.autocomplete_field :tag_list, autocomplete_tag_name_admin_articles_path, :"data-delimiter" => ', ', placeholder: "Tags" %>
    </div>

    <div class="input-field">
      <%= f.text_field :gplus_url, placeholder: "Google+ link" %>
    </div>

    <div class="input-field required">
      <%= f.text_field :published_at, value: (@article.published_at || Time.now).strftime("%Y-%m-%d"), 'data-behaviour' => 'datepicker', placeholder: "Published on" %>
    </div>



    <!--
    <div class="row">
      <div class="label">
        <h3><label>Document</label></h3>
      </div>
      <div class="input">
        <div class="documents">
          <%= f.label :document, "#{@article.document? ? @article.document.file.filename : 'Choose File' }", class: "choose-files" -%>
          <%= f.file_field :document, class: "article-document-value" %>
          <div class="hidden">
            <%= f.hidden_field :document_cache %>
            <%= (@article.hero_image.filename) if @article.document? %>
          </div>
        </div>

        <% if @article.document? %>
        <div class="checkbox">
          <%= f.check_box :remove_document %>
          <label for="article_remove_document" class="checkbox"><span></span>Delete document</label>
        </div>
        <% end %>

      </div>
      <div class="additional">

      </div>
    </div>
    -->

    <%= render_navbar do %>
      <%= f.submit "Save Article", class: "btn btn-save-publish highlight" %>
      <%= link_to "Cancel", admin_articles_path, class: "btn btn-cancel" %>
    <% end %>        

  </div>
<% end %>