<div class="images-overlay">
  <div class="images-overlay-close icon-close"></div>
  <div class="images-overlay-inner">
    <h2><%= t('lines.buttons.insert_image').html_safe %></h2>

    <%= form_for [:admin, Lines::Picture.new], {enctype: "multipart/form-data"} do |f| %>
      <input id="picture_image" multiple="multiple" name="picture[image]" type="file" />
      <label for="picture_image"><%= t('lines.buttons.upload_image').html_safe %></label>
    <% end %>

    <script id="template-upload" type="text/x-tmpl">
      <div class="upload">
        <div class="progress">
          <div class="bar" style="width: 0%"></div>
          <div class="percent">0%</div>
        </div>
      </div>
    </script>

    <div class="images">
      <% if @article.pictures.any? %>
        <% @article.pictures.each do |picture| %>
          <div class="image-preview" id="<%= dom_id picture %>" style="background-image: url(<%= picture.image_url(:preview) %>)" data-url="<%= picture.image_url %>">
            <%= button_to admin_picture_path(picture), remote: true, confirm: "Are you sure?", method: :delete, class: 'icon-delete' do %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="images-background-overlay"></div>
</div>
