<%= render_navbar do %>
  <%= link_to 'New Article', new_admin_article_path, class: "btn btn-new-article" %>  
  <%= link_to 'Authors', admin_authors_path, class: "btn btn-authors" %>
  <%= link_to 'Visit Blog', "/", class: "btn btn-view-blog" %>
<% end %>

<% if @articles_unpublished.size > 0 %>
  <h2>Unpublished articles</h2>
  <div class="articles-list">
    <% @articles_unpublished.each do |article| %>
      <table class="article unpublished" cellspacing="0" cellpadding="0">
        <tr>
          <td class="preview"><%= link_to "", admin_article_path(article), title: "Preview article" %></td>
          <td style="width: 2px;"></td>
          <td class="edit"><%= link_to "", edit_admin_article_path(article), title: "Edit article" %></td>
          <td class="title"><%= link_to truncate(article.title, length: 25, omission: "…"), edit_admin_article_path(article), title: article.title %></td>
          <td class="subtitle"><%= link_to truncate(article.sub_title, length: 35, omission: "…"), edit_admin_article_path(article), title: article.sub_title %></td>
          <td class="date"><%= article.published_at.to_date %></td>
          <td class="delete"><%= button_to "", {controller: :articles, action: 'destroy', id: article.id }, method: :delete, confirm: "Are you sure?" %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>

<% if @articles_published.size > 0 %>
  <h2>Published articles</h2>
  <div class="articles-list">
    <% @articles_published.each do |article| %>
      <table class="article published" cellspacing="0" cellpadding="0">
        <tr>
          <td class="preview"><%= link_to "", admin_article_path(article), title: "Preview article" %></td>
          <td style="width: 2px;"></td>
          <td class="edit"><%= link_to "", edit_admin_article_path(article), title: "Edit article" %></td>
          <td class="title"><%= link_to truncate(article.title, length: 25, omission: "…"), edit_admin_article_path(article), title: article.title %></td>
          <td class="subtitle"><%= link_to truncate(article.sub_title, length: 35, omission: "…"), edit_admin_article_path(article), title: article.sub_title %></td>
          <td class="featured <%= article.featured ? '' : 'not' %>"><%= button_to "", admin_article_toggle_feature_path(article) %></td>
          <td class="date"><%= article.published_at.to_date %></td>
          <td class="delete"><%= button_to "", {controller: :articles, action: 'destroy', id: article.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      </table>
    <% end %>
  </div>
<% end %>

<% if @articles_unpublished.size == 0 && @articles_published.size == 0 %>
  <h2>There are no articles yet</h2>
<% else %>
  <%= paginate @articles %>

  <div class="top_link" onclick="$(document).scrollTop();"></div>
<% end %>
